---
const { title, date, image, slug } = Astro.props;
console.log("slug", slug);

const postYear = new Date(Date.parse(date)).getFullYear();
---

<div class="card">
  <img src={image} alt="" />
  <a href={`/cuentos/${slug}`}>
    <div class="card__button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="800px"
        height="800px"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM9.75 9C9.75 8.58579 10.0858 8.25 10.5 8.25H15C15.4142 8.25 15.75 8.58579 15.75 9V13.5C15.75 13.9142 15.4142 14.25 15 14.25C14.5858 14.25 14.25 13.9142 14.25 13.5V10.8107L9.53033 15.5303C9.23744 15.8232 8.76256 15.8232 8.46967 15.5303C8.17678 15.2374 8.17678 14.7626 8.46967 14.4697L13.1893 9.75H10.5C10.0858 9.75 9.75 9.41421 9.75 9Z"
          fill="#fff"></path>
      </svg>
    </div>
  </a>
  <div class="card__content">
    <h3>{title}</h3>
    <!-- <span>{postYear}</span> -->
  </div>
</div>

<style>
  .card {
    background-color: var(--shy-moment-color);
    width: 100%;
    height: 400px;
    border-radius: 13px;
    overflow: hidden;
    position: relative;
  }

  .card__content {
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    /* backdrop-filter: blur(7px); */
    padding: 15px;
    z-index: 1;

    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6671043417366946) 15%,
      rgba(255, 255, 255, 0) 100%
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6671043417366946) 15%,
      rgba(255, 255, 255, 0) 100%
    );
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6671043417366946) 15%,
      rgba(255, 255, 255, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
  }

  .card__content h3,
  span {
    font-weight: bold;
    color: #fff;
  }

  .card__content h3 {
    font-size: var(--h2-font-size);
  }

  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 13px; */
    transition: transform 100ms ease-in;
  }

  .card img:hover {
    transform: scale(115%);
  }

  .card__button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
  }

  .card__button svg {
    width: 100%;
    height: 100%;
  }
</style>
