<section class="Post">
  <slot />
</section>

<style>
  .Post {
    width: 70%;
    margin: auto;
  }
  .Post h1 {
    font-size: var(--big-font-size);
  }

  .Post h1, h2, h3, h4, h5, h6 {
    margin-bottom: var(--mb-1);
  }

  .Post p {
    color: var(--text-color);
  }
</style>